article{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

body , html{
    width: 100%;
    padding: 0;
    margin: 0;
    
}

section{

    display: flex;
    height: calc(100% - 106px);
}


.info{
    flex-grow: 1;
   border-style: solid;
    padding: 10px;
        width: 80px;
     
    
    
}
section .info div{
    border-style: solid;
    width: 70px;
    height: 70px;
    border-color: red;
    border-radius: 20%;
    
}

section .info p{
    
    color: red;
    padding: 15px;
}

span{
        border-style: solid;
        display: -webkit-flex;
      display: flex;
       padding: 20px;
    overflow-y:scroll;
    
}

footer, header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-style: solid ;
    height: 50px;
    
   
    
}
footer{
     bottom: 0;
    position: fixed;
    width: 100%;
}