article{
        display: flex;
    flex-direction: column;
    height: 100vh;
}


section{
   
    display: flex;
}


.info{
    flex-grow: 1;
   border-style: solid;
    padding: 10px;
        width: 80px;
    
}
section .info div{
    border-style: solid;
    width: 70px;
    height: 70px;
    border-color: red;
    border-radius: 20%;
    
}

section .info p{
    
    color: red;
    padding: 15px;
}

span{
        border-style: solid;
        display: -webkit-flex;
      display: flex;
       padding: 20px;
    
}

footer, header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-style: solid;
    height: 50px;
}